CompileFlags:
  Add:
    - --no-cuda-version-check
    - -I/usr/local/cuda12-6/include
  Remove:
    [
      "-rdc=true",
      "--options-file",
      "-forward-unknown-to-host-compiler",
      "-arch",
      "--generate-code=arch=compute_86,code=[compute_86,sm_86]",
    ]
